#Whitelist
/*
!/.minecraft
/.minecraft/*

#repo stuff
!/.gtihub
!/docs
!/artifacts
!/runners
!/LICENSE
!/README.md
!/CHANGELOG
!/build.sh
!/icon.png
!/.gitignore

#other stuff
/.minecraft/scripts/.zsrc
!/.minecraft/resources
!/.minecraft/scripts
/.minecraft/scripts/nc_script_addons/*
!/.minecraft/structures

#pack stuff
/instance.cfg
/mmc-pack.json
!/modlist.html
!/manifest.json
!/.minecraft/icon.png