$ cat .gitignore
#Whitelist
/*

#Folders
!/config/
!/patchouli_books
!/resources
!/scripts
!/structures

#Files
!/.gitignore
!/README.md

#configs
/.scripts/.zsrc
/.config/astralsorcery.cfg
/.config/Guide-API/Guide-API.cfg
/.config/IC2.ini
/.config/splash.properties
/.config/topaddons.cfg
/.config/AppliedEnergistics2/CustomRecipes.cfg